body {

    font-family: Arial, Helvetica, sans-serif;
    /*Yandex Sans Text Thin*/
    font-weight: 400;
    font-style: normal; 
    margin: 0;
    padding: 14px 12px 0 10px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.cap {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(196, 196, 196);
   /* width: 100%;*/

}

.Y-logo p {
    font-size: 20px;
}

.header-logo {
    display: flex;
    padding-top: 6px;
    align-items: center;
    justify-content: space-between;
    width: 189px;

}

.header-top {
    display: flex;
    border-bottom: 1px solid rgb(196, 196, 196);;
    width: 100%;
    height: 74px;
    align-items: center;
}

.header-search {
    display: flex;
    margin-left: 22px;
    align-items: center;
    justify-content: space-between;
    width: 665px;;
}

.form-search {
    display: flex;
}

.text-search {
    width: 388px;
    height: 31px;
    padding: 0 11px;
    font-size: 14.8px;
    border: 1px solid rgb(196, 196, 196);
    border-right: 0;
    border-radius: 3px 0 0 3px;
    box-sizing: border-box;
}

.submit-search {
    width: 71px;
    height: 31px;
    margin-left: -3px;
    padding-top: 1px;
    padding-left: 7px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 0 3px 3px 0;
    background-color: white;
    font-size: 15px;
}

.profile {
    margin-left: auto;
    margin-right: 27px;
    /* border: 1px black solid; */
    width: 42px;
    height: 42px;
    background-color: blue;
    border-radius: 50%;
}

.header-nav {
    width: 100%;
}

.nav-content {
    display: flex;
    margin: 0;
    padding: 0;
}

.header-nav  .nav-content{
    width: 388px;
    height: 57px;
    margin-left: 227px;
    margin-right: auto;
    justify-content: space-between;
}

li {
    list-style-type: none;
    display: flex; 
}

input[type="radio"] {
    display: none;
}

label {
    display: flex; 
}

.header-nav p {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 12.9px;
    border-bottom: 2px solid white;
}

.header-nav li:nth-of-type(2) p{
    margin-right: 8px;
}

.header-nav input:checked +p {
    border-bottom: 2px solid black;
}


main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;

    border: 1px solid rgb(196, 196, 196);
    border-top: 0; 
    border-bottom: 0;
}



.content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 478px;
    margin-left: 224px;
    
}

.feedback {
    justify-content: space-between;
    /*background-color: yellowgreen;*/
}

header.content {
    height: 118px;
    justify-content: space-between;
}

header.content section {
    display: flex;
    align-items: center;
    height: 85px;
}

.organisation {
    font-size: 35px;
    letter-spacing: 0.3px;
}

.link-on-map {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 11px;
    margin-left: 9px;
    letter-spacing: 0px;
}



.map-point {
    color: blue;
    margin-right: 5px;
    font-size: 11px;

}

.on-maps {
    margin-top: 16px;
    letter-spacing: -0.86px;
}

main .nav-content {
    height: 27px;
}

main .nav-content p.button-like {
    box-sizing: border-box;
    margin: 0;
    padding: 4px 19px;
    font-size: 13px;
    border-right: 0;
    letter-spacing: 0.4px;
}

main .nav-content li:nth-last-of-type(3) p.button-like {
    padding: 4px 17px;
}

main .nav-content input:checked +p {
    background-color: #fde9a0;
    padding-left: 27.5px;
    padding-right: 29px;
}

main .nav-content li:first-of-type p.button-like {
    border-radius: 3px 0 0 3px;
}

main .nav-content li:last-of-type p.button-like {
    border-radius: 0 3px 3px 0;
    border: 1px solid rgb(196, 196, 196);
}

.button-like {
    border: 1px solid rgb(196, 196, 196); 
}

.feedback header {
    display: flex;
    align-items: flex-end;
    height: 56px;
    margin-bottom: 1px;
}

.rating-val {
    margin: 0 3.3px -1.3px;
    font-size: 23px;
    letter-spacing: 0.4px;
}

.rating {
    background-color: #fdcd07;
    height: 24px;
    width: 32px;
    margin-bottom: 1px;
    margin-left: 16px;
    padding: 2px 0 0 6px;
    box-sizing: border-box;
}

.rating::after {
    content: "";
    font-size: 0;
    border: 12px solid transparent;
    border-left: 6px solid #fdcd07;
    position: absolute;
    margin-top: -2px;
    margin-left: 3.7px;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    letter-spacing: 0.4px;
    margin-top: 24px;
    margin-bottom: 5px;
}

.card .feedback-profile{
    display: flex;
    align-items: center;
    width: 333px;
    height: 32px;
    margin-left: 3px;
    font-size: 12px;
    color: rgb(196, 196, 196); 
    letter-spacing: 0.4px;
    margin-bottom: 7px;
}

.prof-image{
    width: 32px;
    height: 32px;
    background-color: blue;
    border-radius: 50%;
}

.profile-name{
    margin-left: 10px;
    font-weight: bold;
    font-size: 11.3px;
    color: black;
    padding-top: 2px;
    letter-spacing: 0.47px;
}

.feedback-date{
    margin-left: 6px;
    letter-spacing: -0.25px;
    padding-top: 1px;
}

.feedback-mark{
    display: flex;
    margin-left: 3px;
    letter-spacing: 0.5px;
    margin-top: 1px;
}

.like-mark {
    color: #fdcd07;
}

.like-mark {
    margin-left: 5px;
    font-size: 22px;
    margin-top: 5px;
}

.coment {
    margin: 0;
    margin-left: 5px;
    font-size: 12.4px;
    letter-spacing: 0.32px;
    line-height: 17.5px;
}

.read-all {
    color: blue;
    margin-left: 9px;
    letter-spacing: -0.1px;
}

.feedback-interactive {
    display: flex;
    justify-content: space-between;
    width: 318px;
    margin: 11px 0 0 3px;
}

.feedback-interactive button {
    display: flex;
    height: 23px;
    font-size: 14px;
    letter-spacing: -1.1px;
    border: 1px solid rgb(196, 196, 196);
    background-color: white;
    border-radius: 2px;
    padding: 1px 11px;
}

/*.answer {

    width: 75px;
    
    padding: 2px 9px;
}*/

button.report {
    letter-spacing: -0.5px;
}

.feedback-interactive font {
    color: blue;
    font-size: 13px;
    letter-spacing: -0.5px;
    padding-top: 3px;
}

.dis-mark {
    color: red;
}

.dis-mark {
    margin-left: 5px;
    font-size: 22px;
    margin-top: 5px;
}

.answer-field {
    display: flex;
    flex-direction: column;
    margin-top: -3px;
    margin-left: 227px;
    width: 471px;
    margin-bottom: 51px;
}

.answer-field p{
    letter-spacing: -0.8px;
    font-family: sans-serif;
    font-size: 14px;
    margin: 10px 0 8px;
    font-weight: bold;
}

.answer-field label{
    display: flex;
    flex-direction: column;
}

.answer-field label section{
    display: flex;
    border: 1px solid rgb(196, 196, 196);

}

.answer-field a{
    align-self: flex-start;
    margin: 3px 7px 0 0;
    font-size: 21px;
}

.answer-field textarea{
    border: 0; 
    width: 474px; 
    height: 96px;
    resize: none;
}

.publick {
    border: 1px rgb(236, 236, 236) solid;
    background-color: rgb(236, 236, 236);
    border-radius: 4px;
    margin-top: 9px;
    height: 30px;
    align-self: flex-end;
    width: 125px;
    padding-left: 13px;
    padding-bottom: 2px;  
}

.all-comment {
    border: 0;
    background-color: rgb(236, 236, 236);
    border-radius: 4px;
    height: 40px;
    margin-top: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    letter-spacing: -1.3px;
    padding-left: 25px;
    padding-bottom: 3px;
}

.card button:hover {
    background-color: #fde9a0;
}

.answer-field button:hover {
    background-color: rgb(170, 170, 170);
}
/*<i class="fas fa-times"></i>*/

/*marg: 26,5
/*background-color: yellowgreen;*/

/*like
<i class="far fa-thumbs-up"></i>
dis
<i class="far fa-thumbs-down"></i>*/